ports: ((merge))
environment_variables :
   env :
     - <<: ((merge))
     - name:  ENV_TYPE
       value: %envType%
     - name: ENV_ID
       value: %envId%
     - name: TENANT
       value: %tenant%
     - name: ENV_PROVIDER
       value: %envProvider%
     - name: VAULT_TOKEN
       valueFrom:
         secretKeyRef:
           name: qube-vault-token
           key: vault-qubeship-k8s2.token
service_type: ClusterIP
# service_type: (( merge || "ClusterIP" ))